/* 
================
Fonts
================
*/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* 
================
Variables
================
*/
:root {
  --bg-blue-1: #174366;
  --bg-blue-5: #1c517b;
  --bg-blue-10: #0171a1;
  --clr-red: #ff1d00;
  --clr-yellow: #fff4a3;
  --clr-grey: #333;
  font-size: 10px;
}

/* 
================
Globals
================
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Shadows Into Light';
  color: var(--clr-grey);
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    var(--bg-blue-5),
    var(--bg-blue-1),
    var(--bg-blue-5),
    var(--bg-blue-1),
    var(--bg-blue-5),
    var(--bg-blue-1),
    var(--bg-blue-5),
    var(--bg-blue-1),
    var(--bg-blue-5)
  );
  cursor: url('./assets/cursor-spider-small.png'), auto;
}

/* 
================
Popup
================
*/
.spider-img-container img {
  z-index: 2;
}
.popup {
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--clr-yellow);
  width: 45rem;
  height: 30rem;
  /* max-width: 700px;
  max-height: 500px; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--clr-red) 15px solid;
  border-radius: 3rem;
}

/* Upper container */
.popup-container {
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-container h1 {
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
}
.popup-container p {
  font-size: 2.5rem;
  text-align: center;
}

.popup button {
  width: 16rem;
  height: 5rem;
  background: var(--bg-blue-1);
  color: #fff;
  font-size: 2rem;
  font-family: 'Shadows Into Light';
  border: none;
  border-radius: 0.5rem;
  cursor: url('./assets/cursor-spider-small.png'), auto;
  transition: all 0.2s linear;
}
.popup button:hover {
  background: var(--bg-blue-10);
}

/* 
================
Canvas
================
*/
#canvas {
  display: none;
  /* display: block; */
}

/* 
================
Winner
================
*/
/* .winner {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--clr-yellow);
  width: 45rem;
  height: 30rem;
  max-width: 700px;
  max-height: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--clr-red) 15px solid;
  border-radius: 3rem;
}
.winner-container {
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.winner-container h1 {
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
} */
/* .winner-container h2 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
.winner-container p {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
} */
/* 
.winner button {
  width: 22rem;
  height: 5rem;
  background: var(--bg-blue-1);
  color: #fff;
  font-size: 2rem;
  font-family: 'Shadows Into Light';
  border: none;
  border-radius: 0.5rem;
  cursor: url('./assets/cursor-spider-small.png'), auto;
  transition: all 0.2s linear;
}
.winner button:hover {
  background: var(--bg-blue-10);
} */
